POSTGRES_DB=myproject
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456

ELASTICSEARCH_INDEX=articles

OPENAI_API_KEY=sk-0c30dd168368408f81fe6b1b9f4d743c
OPENAI_BASE_URL=https://api.deepseek.com/v1
OPENAI_MODEL=gpt-4o-mini
